* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 375px;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
}

.top-header h1 {
  color: grey;
  text-align: center;
  font-weight: 400;
  font-size: 1.9em;
  margin-bottom: 0px;
  padding: 0px;
  margin: 3% 0% 0% 0%; 
}

.top-header h2 {
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 1.9em;
  padding: 0%;
  margin: 0% 0% 2% 0%;
}

.top-header p {
  color: grey;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0%;
  padding: 0.2%;
}

.card {
  position: relative;
  width: 370px;
  background-color: rgb(255,255,255);
  padding: 20px;
  border-radius: 6px;
  margin: 20px auto;
  box-shadow: 1px 8px 8px hsl(229, 6%, 85%);
}

.card p {
  padding-right: 20px; 
}

.super {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calc {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.icon {
  position: relative;
  left: 75%;
  padding-top: 40px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

