* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  padding: 10px;
}

.top-header h1 {
  color: grey;
  text-align: center;
  font-weight: 400;
  font-size: 6.5vw;
  margin-bottom: 0px;
  margin: 10px 0px 0px 0px; 
}

.top-header h2 {
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 6.5vw;
  margin: 0px 0px 5px 0px;
}

.header-text {
  color: grey;
  text-align: center;
  font-size: 4.5vw;
  font-weight: 400;
  margin: 0px;
  padding: 5px;
}

.card {
  position: relative;
  width: 100%;
  background-color: rgb(255,255,255);
  padding: 30px 20px;
  border-radius: 6px;
  margin-bottom: 25px;
  box-shadow: 1px 8px 8px hsl(229, 6%, 85%);
}

.card h3 {
  font-size: 5vw;
}

.card p {
  padding-right: 20px;
  font-size: 4vw;
}

.super {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calc {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.icon {
  position: relative;
  left: 75%;
  padding-top: 40px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 1000px) {
  body {
    width: 1440px;
    margin: 0px auto;
  }
  .top-header h1 {
    font-size: 2.4em
  }
    .top-header h2 {
    font-size: 2.4em
  }
  .header-text {
    width: 600px;
    font-size: 1.1em;
    margin: 0px auto;
  }
  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card {
    width: 370px;
  }
  .card h3 {
    font-size: 1.7em;
  }
  .card p {
    padding-right: 20px;
    font-size: 1em;
  }
  .super {
    left: 130px;
  }
  .calc {
    right: 130px;
  }
}
