* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 375px;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
}

.top-header h1 {
  color: grey;
  text-align: center;
  font-weight: 400;
  font-size: 1.9em;
  margin-bottom: 0px;
  margin: 10px 0px 0px 0px; 
}

.top-header h2 {
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 1.9em;
  margin: 0px 0px 5px 0px;
}

.header-text {
  color: grey;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0px;
  padding: 0.2%;
}

.mid-cards {

}

.card {
  position: relative;
  width: 370px;
  background-color: rgb(255,255,255);
  padding: 30px 20px;
  border-radius: 6px;
  margin-bottom: 25px;
  box-shadow: 1px 8px 8px hsl(229, 6%, 85%);
}

.card p {
  padding-right: 20px; 
}

.super {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calc {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.icon {
  position: relative;
  left: 75%;
  padding-top: 40px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 1000px) {
  body {
    width: 1440px;
    margin: 0px auto;
  }
  .header-text {
    width: 450px;
    font-size: 0.85em;
    margin: 0px auto;
  }
  main {
    flex-direction: row;
    height: 700px;
    align-items: center;
    justify-content: space-between;
  }
  .team {
    position: absolute;
    top: 90px;
    left: 535px;
    margin: 0px;
  }
  .karma {
    position: absolute;
    bottom: 90px;
    left: 535px;
    margin: 0px;
  }
  .super {
    left: 125px;
  }
  .calc {
    right: 125px;
  }
}
